---
layout: basic
---

<div class="content">

    <!-- Intro -->
    <section class="home_intro">
        {% image home_me.jpg alt="Marco Pracucci" %}

        <h1>Marco Pracucci</h1>
        <p>Software Engineer at <a href="https://grafana.com">Grafana Labs</a>.</p>
        <p>I love challenges, building products, distributed systems and all things observability.</p>
        <p>Previously: lead SRE at <a href="https://www.voxnest.com">Voxnest</a>, co-founder and CTO at <a
                href="https://www.spreaker.com">Spreaker</a>.</p>
        <p>I'm quite active on <a href="https://twitter.com/pracucci" class="twitter"
                title="Marco Pracucci on Twitter">Twitter</a>.</p>
    </section>

    <!-- Conferences -->
    {% if site.data.conferences.size > 0 %}
    <h1>Upcoming conferences</h1>
    {% include conferences.html %}
    {% endif %}

    <!-- Latest articles -->
    <h1 id="articles">Latest Articles <a href="{{ site.baseurl }}/feed.xml" class="home_articles_rss">RSS Feed</a></h1>
    <ul class="home_articles">
        {% for post in site.posts %}
        {% unless post.title contains 'Bookmarks -' and forloop.index != 1 %}
        {% unless post.hidden %}
        <li class="home_article">
            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <time datetime="{{ post.date }}">
                <span class="day">{{ post.date | date: "%d" }}</span>
                <span class="month">{{ post.date | date: "%b" }}</span>
                <span class="year">{{ post.date | date: "%Y" }}</span>
            </time>
        </li>
        {% endunless %}
        {% endunless %}
        {% endfor %}
    </ul>

</div>