// Config
$baseline: 36px;

$page_width: 800px;
$page_margin: 20px;

$font_size_small: 14px;
$font_size_default: 16px;
$font_size_medium: 18px;
$font_size_large: 20px;
$font_size_xlarge: 22px;
$font_size_xxlarge: 26px;

$font_weight_light: 300;
$font_weight_default: 400;
$font_weight_medium: 500;
$font_weight_bold: 600;

$page_background_color: #fbfbfb;

$title_text_color: #262526;

$paragraph_font_family: "Calibre", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$paragraph_line_height: 30px;
$paragraph_text_color: #323232;
$paragraph_text_light_color: #999999;
$accent_color: #d90000;


/* Typography */
body {
  box-sizing: border-box;
  color: $paragraph_text_color;
  background: $page_background_color;
  font-size: $font_size_default;
  font-weight: $font_weight_default;
  font-family: $paragraph_font_family;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #262526;
  text-decoration: underline;
}

strong {
    font-weight: 600;
}

h1 {
    font-size: $font_size_xxlarge;
    font-weight: $font_weight_medium;
    color: $title_text_color;
    margin-bottom: $baseline;
}

em {
    font-style: italic;
}

// Header
header {
    max-width: $page_width;
    margin: 0 auto $baseline auto;
    padding: 0 $page_margin;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    line-height: $baseline*1.5;

    &, a {
        color: $title_text_color;
        font-weight: $font_weight_light;
        text-decoration: none;
    }

    h1 {
        float: left;
        margin: 0;
    }

    nav {
        float: right;
        text-align: right;
        font-family: sans-serif;

        li {
            display: inline-block;
            font-size: $font_size_large;
            margin: 0 $baseline/2;
        }
    }
}


// Footer
footer {
    margin: $baseline 0;
    padding-top: $baseline;
    text-align: center;
    font-size: $font_size_small;

    iframe, a {
        vertical-align: middle;
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        // UI similar to "Privacy Policy" button
        display: inline-block;
        height: 18px;
        line-height: 18px;
        text-decoration: none;
        border: 1px solid #c3c3c3;
        border-radius: 2px;
        font-size: 11px;
        font-weight: bold;
        color: rgb(89, 99, 109);
        box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px;
        padding: 0 5px;
        margin-bottom: 2px;
    }
}


// Layout
div.content {
    max-width: $page_width;
    padding: 0 $page_margin;
    margin: 0 auto;
}

section.page {
    h1 {
        text-align: center;
        margin-bottom: $baseline;
    }
}


// Home
section.home_intro {
    padding-top: $baseline;
    overflow: hidden;

    img {
        float: left;
        width: $page_width * 0.6;
        height: auto;
    }

    h1, p {
        margin-bottom: $baseline/2;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

section.home_socials {
    background: #dddddd;
    margin-bottom: $baseline;
    text-align: center;
    padding-top: $baseline/4;
    border-radius: 4px;

    a {
        display: inline-block;
        min-width: 150px;
        margin: 0 $page_margin $baseline/4 $page_margin;
        text-decoration: none;
        text-transform: uppercase;
        font-size: $font_size_small;
        font-weight: $font_weight_medium;
        line-height: $baseline/2;
        color: #565656;
    }
}

ul.home_articles {
    overflow: hidden;
    margin-bottom: $baseline*3;
    list-style-type: square;
    padding-left: 20px;
}

li.home_article {
    margin-bottom: $baseline/2;

    h2 {
        font-size: $font_size_medium;
        font-weight: $font_weight_medium;
    }

    time {
        display: block;
        font-size: $font_size_small;
        margin-bottom: $baseline/4;
    }
}

.home_articles_rss {
    font-size: $font_size_small;
    vertical-align: baseline;
    margin-left: 10px;
}


// Articles
article {
    position: relative;
    padding-left: 100px;
    margin-bottom: $baseline*3;

    a {
        color: $paragraph_text_color;
        font-weight: $font_weight_medium;
    }

    time {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        text-align: center;
        text-transform: uppercase;
        line-height: $paragraph_line_height;
        color: $paragraph_text_light_color;

        .day {
            display: block;
            font-size: 30px;
            font-weight: bold;
            line-height: $baseline*1.25;
            color: $accent_color;
            margin-bottom: 0;
        }
    }

    h1 {
        line-height: $baseline*1.25;
        margin-bottom: 0;

        a {
            text-decoration: none;
        }
    }

    h2 {
        font-size: $font_size_xlarge;
        font-weight: $font_weight_medium;
        color: $title_text_color;
        margin-bottom: $baseline/2;
        padding-top: $baseline/2;

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        font-size: $font_size_large;
        font-weight: $font_weight_medium;
        color: $title_text_color;
        margin-bottom: $baseline/2;
        padding-top: $baseline/4;

        &:first-child {
            margin-top: 0;
        }
    }

    h4 {
        font-weight: $font_weight_medium;
        font-style: italic;
        color: $title_text_color;
        margin-bottom: $baseline/2;
        padding-left: $page_margin;
    }

    .author {
        display: inline-block;
        line-height: $paragraph_line_height;
        margin-bottom: $baseline/2;
        margin-right: 20px;
        font-style: italic;

        &, a {
            color: $paragraph_text_light_color;
            text-decoration: none;
        }
    }

    .comments {
        display: inline-block;
        font-size: $font_size_small;

        a {
            color: $accent_color;
            text-decoration: none;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }

    p {
        font-size: $font_size_default;
        line-height: $paragraph_line_height;
        margin-bottom: $baseline/2;
    }

    ol, ul {
        margin-bottom: $baseline/2;
        padding-left: 30px;

        li {
            line-height: $paragraph_line_height;
        }
    }

    ul {
        list-style-type: square;
    }

    ol {
        list-style-type: decimal;
    }

    img {
        display: block;
        margin: 0 auto $baseline/2 auto;
        max-width: 100%;
        height: auto;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // Code inline
    code {
        font-family: monospace;
        font-size: 14px;
        color: $accent_color;
        margin-bottom: $baseline/2;
    }

    // Code block
    p {
        code:first-child:last-child {
            color: #111111;
        }
    }

    // Highlighted code block
    pre {
        background: #eaeaea;
        padding: $baseline/6 $baseline/2;
        border-radius: 4px;
        margin: 0 0 ($baseline - $baseline/6) 0;
        white-space: pre-wrap;
        word-wrap: break-word;

        &, code {
            color: #111111;
        }
    }

    // Tables
    table {
        margin-bottom: $baseline/2;

        thead {
            th {
                text-align: left;
                border-bottom: 1px solid #efefef;
                font-weight: $font_weight_medium;
            }
        }

        td, th {
            padding: $baseline/8 50px $baseline/8 0;

            &:last-child {
                padding-right: 0;
            }

        }

        tr:last-child {
            td {
                padding-bottom: 0;
            }
        }
    }

    // Quotes
    blockquote {
        text-align: center;
        margin: $baseline 0;

        > p {
            display: inline-block;
            position: relative;
            max-width: 60%;
            margin: 0;

            &:before,
            &:after {
                position: absolute;
                display: block;
                font-family: "Times New Roman";
                font-size: 70px;
                color: $accent_color;
            }

            &:before {
                content: '“';
                vertical-align: text-bottom;
                top: 0;
                left: -40px;
            }

            &:after {
                content: '“';
                vertical-align: text-top;
                transform: rotate(180deg);
                bottom: 0;
                right: -40px;
            }
        }
    }
}


// Layout
.layout_two_columns {
    overflow: hidden;

    .column {
        float: left;
        width: 50%;
        box-sizing: border-box;
    }
}


@media screen and (max-width: $page_width) {

    // Home
    section.home_intro {
        margin-bottom: $baseline;
        img {
            float: none;
            width: 100%;
            margin-bottom: $baseline/4;
        }

        h1 {
            text-align: center;
        }
    }

    // Talks
    section.talk {
        float: none;
        width: auto;

        h2 {
            height: auto;
        }
    }

}

@media screen and (max-width: 600px) {

    // Header
    header {
        h1, nav {
            float: none;
            text-align: center;
        }
    }


    // Posts
    article {
        padding-left: 0;

        time {
            display: inline-block;
            position: static;
            width: auto;
            text-align: left;
            margin-bottom: $baseline/2;
            margin-right: 20px;
            text-transform: none;
            font-style: italic;

            .day {
                display: inline;
                font-size: $font_size_default;
                color: $paragraph_text_light_color;
                font-weight: normal;
                line-height: $paragraph_line_height;
            }
        }

        h1 {
            margin-bottom: $baseline/4;
        }

        .author,
        .comments {
            margin-bottom: $baseline/2;
        }
    }

    // Layout
    .layout_two_columns {
        overflow: hidden;

        .column {
            float: none;
            width: 100%;
        }

        table {
            width: 100%;
        }
    }

}
