// Config
$baseline: 36px;

$page_width: 800px;
$page_margin: 20px;

$font_size_primary: 30px;
$font_size_secondary: 24px;
$font_size_tertiary: 20px;
$font_size_small: 14px;

$font_weight_light: 300;
$font_weight_default: 400;
$font_weight_medium: 500;
$font_weight_bold: 600;

$page_background_color: #fbfbfb;

$title_text_color: #262526;

$paragraph_font_family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$paragraph_font_size: 16px;
$paragraph_line_height: $baseline;
$paragraph_text_color: #585858;


/* Typography */
body {
  box-sizing: border-box;
  color: $paragraph_text_color;
  background: $page_background_color;
  font-size: 16px;
  font-family: $paragraph_font_family;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #262526;
  text-decoration: underline;
}

strong {
    font-weight: 600;
}

h1 {
    font-size: $font_size_primary;
    font-weight: $font_weight_medium;
    color: $title_text_color;
    margin-bottom: $baseline;
}

em {
    font-style: italic;
}

// Header
header {
    max-width: $page_width;
    margin: 0 auto $baseline auto;
    padding: 0 $page_margin;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    line-height: $baseline*1.5;

    &, a {
        color: $title_text_color;
        font-weight: $font_weight_light;
        text-decoration: none;
    }

    h1 {
        float: left;
        margin: 0;
    }

    nav {
        float: right;
        text-align: right;
        font-family: sans-serif;

        li {
            display: inline-block;
            font-size: $font_size_tertiary;
            margin: 0 $baseline/2;
        }
    }
}


// Footer
footer {
    margin: $baseline 0;
    padding-top: $baseline;
    text-align: center;
    font-size: $font_size_small;
}


// Layout
div.content {
    max-width: $page_width;
    padding: 0 $page_margin;
    margin: 0 auto;
}

section.page {
    h1 {
        text-align: center;
        margin-bottom: $baseline;
    }
}


// About me
section.about {
    overflow: hidden;
    margin-bottom: $baseline*2;

    img {
        float: right;
        border-radius: 2px;
        margin: 0 0 $page_margin $page_margin;;
    }

    h2 {
        font-size: $font_size_secondary;
        color: $title_text_color;
        margin-bottom: $baseline/2;
    }

    p {
        margin-bottom: $baseline/2;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about_socials {
    line-height: 50px;
}

.about_social {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: $page_margin;
    text-indent: -1000px;
    overflow: hidden;
    vertical-align: middle;

    &.github {
        background: transparent url(../images/social_github.png) no-repeat center center;
        background-size: 50px 50px;
    }

    &.twitter {
        background: transparent url(../images/social_twitter.png) no-repeat center center;
        background-size: 50px 50px;
    }
}


// Latest articles
ul.articles {
    overflow: hidden;
    margin-bottom: $baseline*3;

    // Two columns layout with flex box
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-justify-content: space-between;
    justify-content: space-between;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    align-items: flex-start;
    -webkit-align-items: flex-start;

    -webkit-align-content: flex-end;
    align-content: flex-end;
}

li.article {
    width: 45%;
    margin-bottom: $baseline;

    h2 {
        font-size: $font_size_tertiary;
        font-weight: $font_weight_medium;
        margin-bottom: $baseline/2;

        a {
            color: $title_text_color;
            text-decoration: none;
        }
    }

    time {
        display: block;
        font-size: $font_size_small;
        margin-bottom: $baseline/4;
    }

    p {
        font-size: $font_size_small;
        margin-bottom: $baseline/2;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


// Articles
article {
    position: relative;
    padding-left: 100px;
    margin-bottom: $baseline*3;

    time {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        text-align: center;
        text-transform: uppercase;
        line-height: $paragraph_line_height;

        .day {
            display: block;
            font-size: 30px;
            font-weight: bold;
            line-height: $baseline*1.25;
            color: #d14;
            margin-bottom: $baseline/2;
        }
    }

    h1 {
        line-height: $baseline*1.25;
        margin-bottom: $baseline/2;

        a {
            text-decoration: none;
        }
    }

    h2 {
        font-size: $font_size_secondary;
        font-weight: $font_weight_medium;
        color: $title_text_color;
        margin-bottom: $baseline/2;
        padding-top: $baseline/2;

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        font-size: $font_size_tertiary;
        font-weight: $font_weight_medium;
        color: $title_text_color;
        margin-bottom: $baseline/2;
        padding-top: $baseline/2;

        &:first-child {
            margin-top: 0;
        }
    }

    h4 {
        font-weight: $font_weight_medium;
        font-style: italic;
        color: $title_text_color;
        margin-bottom: $baseline/2;
        padding-left: $page_margin;
    }

    p {
        font-size: $paragraph_font_size;
        line-height: $paragraph_line_height;
        margin-bottom: $baseline/2;
    }

    ol, ul {
        margin-bottom: $baseline/2;
        padding-left: 30px;

        li {
            line-height: $paragraph_line_height;
        }
    }

    ul {
        list-style-type: square;
    }

    ol {
        list-style-type: decimal;
    }

    img {
        display: block;
        margin: 0 auto $baseline/2 auto;
        max-width: 100%;
        height: auto;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // Code inline
    code {
        font-family: monospace;
        font-size: 14px;
        color: #d14;
        margin-bottom: $baseline/2;
    }

    // Code block
    pre {
        background: #eaeaea;
        padding: $baseline/6 $baseline/2;
        border-radius: 4px;
        margin: 0 0 ($baseline - $baseline/6) 0;
        white-space: pre-wrap;
        word-wrap: break-word;

        &, code {
            color: #111111;
        }
    }

    // Tables
    table {
        margin-bottom: $baseline/2;

        td {
            padding: 0 10px $baseline/4 0;

        }

        tr:last-child {
            td {
                padding-bottom: 0;
            }
        }
    }
}


// Contribute
section.contribute {
    background: #fff5b2;
    padding: $baseline/2;
    line-height: $paragraph_line_height;
    border-radius: 4px;
}


// Talks
section.talks {
    overflow: hidden;
}

section.talk {
    float: left;
    width: ($page_width/2) - 50;
    margin-bottom: $baseline*2;
    padding: 0 25px;
    text-align: center;

    h2 {
        margin-bottom: $baseline/2;
        height: $baseline*1.5;
        line-height: $baseline*0.75;
        font-size: $font_size_tertiary;
    }
}



/* Small screens */
@media screen and (max-width: 800px) {

    // Talks
    section.talk {
        float: none;
        width: auto;

        h2 {
            height: auto;
        }
    }

}

@media screen and (max-width: 600px) {

    // Header
    header {
        h1, nav {
            float: none;
            text-align: center;
        }
    }


    // Latest articles
    li.article {
        width: auto;
    }


    // Posts
    article {
        padding-left: 0;

        time {
            display: block;
            position: static;
            width: auto;
            text-align: left;
            margin-bottom: $baseline/2;
            text-transform: none;
            font-style: italic;

            .day {
                display: inline;
                font-size: $paragraph_font_size;
                color: $paragraph_text_color;
                font-weight: normal;
                line-height: $paragraph_line_height;
            }
        }
    }
}


@media screen and (max-width: 600px) {
    // About me
    section.about {
        h2 {
            text-align: center;
        }

        img {
            display: block;
            float: none;
            margin: 0 auto $baseline/2 auto;
        }
    }
}
