---
---

// Config
$baseline: 32px;
$primary_font_size: 30px;
$secondary_font_size: 24px;
$tertiary_font_size: 20px;

$font_weight_light: 300;
$font_weight_default: 400;
$font_weight_medium: 500;
$font_weight_bold: 600;

$page_background_color: #fbfbfb;

$title_text_color: #262526;

$paragraph_font_family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$paragraph_font_size: 16px;
$paragraph_line_height: $baseline;
$paragraph_text_color: #585858;


/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Basics */
body {
  box-sizing: border-box;
  color: $paragraph_text_color;
  background: $page_background_color;
  font-size: 16px;
  font-family: $paragraph_font_family;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #262526;
  text-decoration: underline;
}

strong {
    font-weight: 600;
}


/* Header */
header {
    background: $title_text_color;
    color: $page_background_color;
    text-align: center;
    padding: $baseline/2 20px;
    margin-bottom: 40px;
}

header h1 {
    font-size: 40px;
}

header h2 {
    display: inline-block;
    background: #F60A20;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
    padding: 0 10px;
    margin-bottom: 10px;
}


/* Posts */
section.posts {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}


/* Post */
article {
    position: relative;
    padding-left: 100px;
    margin-bottom: 60px;

    time {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        text-align: center;
        text-transform: uppercase;
        line-height: $paragraph_line_height;

        .day {
            display: block;
            font-size: 30px;
            font-weight: bold;
            line-height: $baseline;
            color: #F60A20;
            margin-bottom: $baseline/2;
        }
    }

    h1 {
        font-size: $primary_font_size;
        font-weight: $font_weight_medium;
        line-height: $baseline;
        color: $title_text_color;
        margin-bottom: $baseline/2;

        a {
            text-decoration: none;
        }
    }

    h2 {
        font-size: $secondary_font_size;
        font-weight: $font_weight_medium;
        color: $title_text_color;
        margin: $baseline/2 0;

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        font-size: $tertiary_font_size;
        font-weight: $font_weight_medium;
        color: $title_text_color;
        margin: $baseline/2 0;

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        font-size: $paragraph_font_size;
        line-height: $paragraph_line_height;
        margin-bottom: $baseline;
    }

    ol, ul {
        margin-bottom: $baseline;
        padding-left: 30px;

        li {
            line-height: $paragraph_line_height;
        }
    }

    ol {
        list-style-type: decimal;
    }

    img {
        display: block;
        margin: 0 auto $baseline/2 auto;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // Code inline
    code {
        font-family: monospace;
        font-size: 14px;
        color: #d14;
        margin-bottom: $baseline/2;
    }

    // Code block
    pre {
        background: #eaeaea;
        padding: $baseline/6 $baseline/2;
        border-radius: 4px;
        margin: -$baseline/6 0 ($baseline - $baseline/6) 0;
        white-space: pre-wrap;

        &, code {
            color: #111111;
        }
    }
}


/* Code highlight */
/*
.highlight {
    background: $page_background_color;

    &, code {
        font-family: monospace;
        font-size: 14px;
        margin: 20px 0;
        color: $paragraph_text_color;
    }
}
*/



/* Small screens */
@media screen and (max-width: 600px) {

    article {
        padding-left: 0;

        time {
            display: block;
            position: static;
            width: auto;
            text-align: left;
            margin-bottom: $baseline/2;
            text-transform: none;
            font-style: italic;

            .day {
                display: inline;
                font-size: $paragraph_font_size;
                color: $paragraph_text_color;
                font-weight: normal;
                line-height: $paragraph_line_height;
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

}
