---
layout: page
---

{% capture list_related_articles %}{% for page_tag in page.tags %}
        {% for post in site.posts %}
            {% for post_tag in post.tags %}
                {% if post_tag == page_tag and post.title != page.title %}
                    {% unless post.hidden %}
                        <li>
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        </li>
                    {% endunless %}
                {% endif %}
            {% endfor %}
        {% endfor %}
{% endfor %}{% endcapture %}


<article>
    <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
    <time datetime="{{ page.date }}">
        <span class="day">{{ page.date | date: "%d" }}</span>
        <span class="month">{{ page.date | date: "%b" }}</span>
        <span class="year">{{ page.date | date: "%Y" }}</span>
    </time>
    <span class="author">by <a href="{{ site.baseurl }}">Marco Pracucci</a></span>
    <span class="comments"><a href="{{ site.baseurl }}{{ page.url }}#disqus_thread">Comments</a></span>

    {{ content }}

    {% if list_related_articles != "" %}
        <hr />
        <h3>You may also be interested in ...</h3>
        <ul>
            {{ list_related_articles | strip }}
        </ul>
    {% endif %}

    <!-- Conferences -->
    <hr />
    <h3>Upcoming conferences</h3>
    {% include conferences.html %}

    <!-- Disqus -->
    <hr />
    <h3>Comments</h3>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'pracucci';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>

</article>
