---
layout: default
---

<section class="posts">
    <article>
        <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
        <time datetime="{{ page.date }}">
            <span class="day">{{ page.date | date: "%d" }}</span>
            <span class="month">{{ page.date | date: "%b" }}</span>
            <span class="year">{{ page.date | date: "%Y" }}</span>
        </time>

        {{ content }}
    </article>
</section>

<section class="contribute">
    This page is <a href="https://github.com/pracucci/pracucci.github.io">hosted on GitHub</a>. Feel free to contribute with a PR, if you want to improve an article, post a new one or just change a color you don't like!
</section>
