---
layout: default
---

<section class="posts">
    <article>
        <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
        <time datetime="{{ page.date }}">
            <span class="day">{{ page.date | date: "%d" }}</span>
            <span class="month">{{ page.date | date: "%b" }}</span>
            <span class="year">{{ page.date | date: "%Y" }}</span>
        </time>
        <span class="author">by <a href="{{ site.baseurl }}">Marco Pracucci</a></span>

        {{ content }}
    </article>
</section>
